.TaskTree{
    background: red;
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.TopInput{
    min-width: 300px;
    max-width: 600px;
    padding: 43px 20px 43px 20px;
    background: green;
    display: flex;
    left: 0;
    right: 0;
    margin: auto;
}

#itTask{
    height: 34px;
    width: 100%;
}

.MainTree{
    border: 1px dashed blue;
    width: 100%;
    height: 100%;
}

.FrmTree{
    width: 100%;
}

#btnAdd{
    margin-left: 20px;
    width: 100px;
    height: 40px;
}